@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    user-select: none;
}
div{
    user-select: none;
}

:root {
    /* --gradient-shadow-two: linear-gradient(300deg, #68d391, #38b2ac, #3498db); */
    --gradient-shadow-two: linear-gradient(300deg, #000000, #a0a0a0, #000000, #acacac);
   /* --gradient-shadow-three: linear-gradient(300deg, rgb(166, 255, 249), #797474, #eeeaea, rgb(255, 166, 190), #f7fb72, #b0ff8e, #06027d, #ff8f16, #fb0d0d, #177516);*/
    --gradient-shadow-three: linear-gradient(300deg, #ffee00,#177516,#00ffb7,#0dfbfb,#0db4fb, #06027d,#c700fe,#ff04c9, #fb0d0d );
    /*--gradient-shadow-four: linear-gradient(300deg,#ffffff,#ffffff,#ffffff,#000000,#000000,#000000 );*/
    --gradient-shadow-four: linear-gradient(300deg,#000000,#000000,#000000 );
    --gradient-shadow-five: linear-gradient(300deg, #0062ff, #DB4437, #F4B400, #0F9D58,#0062ff, #DB4437, #F4B400, #0F9D58,#0062ff, #DB4437, #F4B400, #0F9D58);

  /* --gradient-shadow-five: linear-gradient(300deg, rgb(194, 252, 255), rgb(255, 150, 178));*/
    /*  --gradient-shadow-three: linear-gradient(300deg, rgb(104, 103, 103), rgb(255, 255, 255));*/
    /* --gradient-shadow-three: linear-gradient(300deg,rgb(32, 0, 161), #ff0000, #0de747, rgb(6, 0, 2)); */
}

@keyframes slideBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
}

@keyframes slideBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 

/* @keyframes slideBorder  {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}  */


/* @keyframes rotate {
    0% { --angle: 0deg; --glowColor: var(--gradient-shadow-three);}
    100% { --angle: 360deg; --glowColor: var(--gradient-shadow-three);}
  } */


/* .button {
    background: transparent; 
    border: 2px solid; 
    border-image: var(--gradient-shadow-three); 
    border-image-slice: 1; 
    -webkit-background-clip: text;
    background-clip: text;
    animation: rotate 15s linear infinite;
} */

.hidescroll::-webkit-scrollbar {
    display: none;
  
  }
.text {
    background-image: var(--gradient-shadow-five);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 400% 100%;
    animation: slideBackground 15s linear infinite;
}

.bgcolors {
    overflow: hidden;
    background: var(--gradient-shadow-three);
    background-size: 400% 400%;
    animation: slideBackground 60s linear infinite;
}


.bgcolors-text {
    overflow: hidden;
    background: var(--gradient-shadow-two);
    background-size: 400% 400%;
    animation: slideBackground 1000s linear infinite;
}

.googlecolor {
    background-image: var(--gradient-shadow-five);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 400% 100%;
    animation: slideBackground 60s linear infinite;    
}

.fontstylesmall {
    font-family: Montserrat, Trebuchet MS, sans-serif;
    font-size: 17px;

}
h1:hover .hidden {
    display: inline-block;
    
  }

.rotate-45 {
    transform: rotate(45deg);
  }  
  
.signupfont{
    font-family: Montserrat,
    Trebuchet MS, Lucida Grande,
    Lucida Sans Unicode, Lucida Sans,
    Tahoma, sans-serif;
}

.textupper{
    padding-top: 2%;
}

.fontstyle {
    color: #1f0b0b;
    font-family: Montserrat,
        Trebuchet MS, Lucida Grande,
        Lucida Sans Unicode, Lucida Sans,
        Tahoma, sans-serif;
    font-size: 46px;
    line-height: 120%;
    text-align: left;
    font-weight: 1000;

}

.buttonstyle {
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: none;
    padding: 10px 20px;
    font-family: Montserrat, Trebuchet MS, sans-serif;
    font-size: 17px;
    font-weight: bolder;
    height: 45px;
    margin-left: 200px;
}

.buttonstyle:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}







/* starting  */

